body{background-color: rgb(255, 255, 255);}
.nome{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 0, 0);
}
.instagram{
    list-style-image: url(../assets/Insta.png);

}
.youtube{
    list-style-image: url(../assets/Youtube.png);

}
.twitter{
 list-style-image: url(../assets/Twitter.png);
}
.card{
    width: 400px;
    height: 200px;   
    box-sizing: border-box;
    padding: 1px 20px ; 
    background: url(../assets/background.png) no-repeat;
    background-size: cover;
    margin:auto;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: -10px 10px 10px rgba(0,0,0, 0.2);
    
}D
a{
    text-decoration: none;
    color: black    ;
}